.sgt-title {
  font-size: 6vmin;
  font-weight: bold;
}
.average-label {
  font-size: 4vmin;
  font-weight: bold;
}
.average-grade {
  width: 120px;
  font-size: 5vmin;
  font-weight: bold;
  color: white;
}
.form-height {
  height: 270px;
}
